@using RSC.PreRetroVoting.DataAccess;

@model IEnumerable<RetroItem>

<h2>RetroItemsList</h2>
@foreach (var item in Model)
{
     <p>
         @Html.ActionLink("Vote", "Vote", item)
         @item.Description
     </p>
}


@using(Html.BeginForm("AddItem", "RetroItems"))
{

    @Html.TextBox("description");
    <input type="submit" value="Добавить" />
}
